<html>
    <title>
        Adventure Trails
    </title>
    <head>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <nav class="navbar ">
            <div class="container-fluid">
                    <a href="http://localhost:3000/">Home</a>
                    <a href="http://localhost:3000/packages">Packages</a>
                    <a href="http://localhost:3000/booking">Booking</a>
                    <a href="http://localhost:3000/gallery">Gallery</a>
                    <a href="http://localhost:3000/contact_us">Contact Us</a>
                    <a href="http://localhost:3000/login">Login</a>
                    <a href="http://localhost:3000/admin">Admin</a>
                    
            </div>
        </nav>
    </body>
</html>